#Remember to update folders that have been tracked after adding to gitignore with
#git rm -r --cached <folder>

#Proprietary KDU SDK
libs/v7_8-01265L/*

#But keep gitkeeps to enforce directory folder structure
!*/.gitkeep

#Macintosh reference files
*/.DS_store

#Python config files can go
*.pyc

#Compiled object files
obj/*

#Linked exe
gfinder

#Pycache files
__pycache__/*

#All output files
output/*

#Network graphs
graphs/*

#Network logs
logs/*

#Temporary files
tmp/*

#Evaluation results
results/*

#Bash command file for queuing
commands
